html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: arial;
}

@keyframes cycleBackgroundColors {
  0%   { background-color: rgb(200, 118, 255); }
  16%  { background-color: rgb(169, 40, 255); }
  33%  { background-color: rgb(115, 10, 185); }
  50%  { background-color: rgb(93, 40, 128); }
  66%  { background-color: rgb(105, 29, 156); }
  83%  { background-color: rgb(141, 84, 180); }
  100% { background-color: rgb(200, 118, 255); }
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.chat-box {
  flex-grow: 1;
  overflow-y: auto;
  width: 100%;
  max-width: 600px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  scrollbar-width: none;         /* Firefox */
  -ms-overflow-style: none;      /* IE */
}

.chat-box::-webkit-scrollbar {
  display: none;                 /* Chrome/Safari */
}

.send-message-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.input-text {
  margin-right: 10px;
  height: 46px;
  width: 100%;
  max-width: 500px;
  flex-grow: 1;
  resize: none;
  border-radius: 6px;
  padding-left: 10px;
  padding-top: 4px;
  color: white;
  background-color: rgb(60, 60, 60);
  user-select: none;
  outline: none;
  line-height: 36px;
  border: none
}

.input-text:focus {
  outline: none;
}

.send-button {
  height: 46px;
  width: 72px;
  cursor: pointer;
  background-color: rgb(201, 147, 255);
  color: black;
  border: none;
  border-radius: 6px;
  animation: cycleBackgroundColors 2s linear infinite;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.bubble {
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 12px;
  max-width: 80%;
  white-space: pre-wrap;
  word-wrap: break-word;
  line-height: 1.4;
  font-size: 14px;
}

.user-bubble {
  background-color: #333;
  color: white;
  align-self: flex-end;
  margin-left: auto;
}

.ai-bubble {
  background-color: rgb(201, 147, 255);
  color: black;
  align-self: flex-start;
  margin-right: auto;
}