@keyframes cycleColorsText {
  0% {color: lightblue;}
  20% {color: lightcoral;}
  40% {color: lightgreen;} 
  60% {color: lightsalmon;}
  80% {color: lightyellow;}
  100% {color: lightsteelblue;}
}

#dream-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin-top: 80px;
  padding: 0 40px;
}

.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(0, 0, 0);
  border: 2px solid lightgray;
  border-radius: 8px;
  padding: 20px 16px;
  margin-bottom: 20px;
  color: lightgray;
  font-size: 1.1em;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.742);
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow: visible;
  min-height: 80px;
}


.card p {
  flex: 1;
  text-align: center;
}

.menu-button {
  position: absolute;
  right: 10px;
  top: 25%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 1.4em;
  cursor: pointer;
  transition: color 0.2s ease;
  animation: cycleColorsText 2s linear infinite;
  outline: none;
  user-select: none;
}

.menu-button:hover {
  animation: none;
  color: white;
}

.menu-button:focus {
  outline: none;
}

.menu {
  position: absolute;
  right: 0px;
  top: -15%;
  transform: translateY(-50%);
  flex-direction: row;
  background: #1e1e1e;
  border: 1px solid lightgray;
  border-radius: 6px;
  z-index: 100;
  align-items: center;
  justify-content: center;
}

.menu button {
  background: transparent;
  border: none;
  color: lightgray;
  padding: 6px 14px;
  text-align: center;
  font-size: .95em;
  cursor: pointer;
  transition: opacity 0.2s;

  outline: none;
  user-select: none;
}

.menu button:hover {
  opacity: 0.6;
}

.trash-icon {
  width: 17px;
  height: 17px;
  margin-top: 2px;
}

.edit-icon {
  width: 19px;
  height: 19px;
  margin-top: 2px;
}

.view-icon {
  width: 24px;
  height: 24px;
  margin-top: 4px;
}