@keyframes cycleColorsShadow {
  0% {box-shadow: 0 0 10px lightblue;}
  20% {box-shadow: 0 0 10px lightcoral;}
  40% {box-shadow: 0 0 10px lightgreen;}
  60% {box-shadow: 0 0 10px lightsalmon;}
  80% {box-shadow: 0 0 10px lightyellow;}
  100% {box-shadow: 0 0 10px lightsteelblue;}
}

body {
  background-color: rgb(27, 27, 27);
  font-family: arial;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 40px;
}

.textbox {
  height: 800px;
  width: 900px;
  vertical-align: top;
  padding-top: 10px;
  box-sizing: border-box;
  resize: none;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.742);
  color: rgb(27, 27, 27);
  padding-left: 8px;
  padding-right: 8px;
  border-color: white;
  border-width: 2px;
  animation: cycleColorsShadow 2s linear infinite;
}

.textbox:focus {
  outline: none;
}


.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding-top: 40px;
}
