@keyframes cyclePColors {
  0%   { stroke: rgb(200, 118, 255); }
  16%  { stroke: rgb(169, 40, 255); }
  33%  { stroke: rgb(115, 10, 185); }
  50%  { stroke: rgb(93, 40, 128); }
  66%  { stroke: rgb(105, 29, 156); }
  83%  { stroke: rgb(141, 84, 180); }
  100% { stroke: rgb(200, 118, 255); }
}

.navigator-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(27, 27, 27);
  text-align: center;
  z-index: 300;
  padding-bottom: 60px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-top: solid;
  border-right: solid;
  border-left: solid;
  height: 40px;
  border: none;
}

.color-animate {
  stroke: white;
  animation: cyclePColors 2s linear infinite;
}

.create-button {
  border: none;
  cursor: pointer;
  transition: 0.2s;
  padding: 12px 20px;
  color: lightgray;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  animation-play-state: running;
  transition: opacity 0.2s,
    box-shadow 0.2s,
    animation 0.2s;
}

.help-button,
.search-button,
.create-button,
.home-button {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 30px;
  background-color: transparent;
  transition: background-color 0.2s;
  margin-top: 2px;
  transition: opacity 0.2s;
  cursor: pointer;
}

.help-button:hover,
.search-button:hover,
.create-button:hover,
.home-button:hover {
  opacity: 0.8;
}

.help-button:active,
.search-button:active,
.create-button:active,
.home-button:active {
  opacity: 0.6;
}