@keyframes cycleColors {
  0% {stroke:lightblue;}
  20% {stroke:lightcoral;}
  40% {stroke:lightgreen;}
  60% {stroke:lightsalmon;}
  80% {stroke:lightyellow;}
  100% {stroke:lightsteelblue;}
}

.navigator-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(79, 79, 79);
  text-align: center;
  z-index: 300;
  padding-bottom: 60px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-top: solid;
  border-right: solid;
  border-left: solid;
  border-color: black;
  border-width: 0.5px;
  height: 70px;
}

.color-animate {
  stroke: white;
  animation: cycleColors 2s linear infinite;
}

.create-button {
  border: none;
  cursor: pointer;
  transition: 0.2s;
  padding: 12px 20px;
  color: lightgray;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  animation-play-state: running;
  transition: opacity 0.2s,
    box-shadow 0.2s,
    animation 0.2s;
}

.search-button,
.create-button,
.home-button {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border-radius: 30px;
  background-color: transparent;
  transition: background-color 0.2s;
  margin-top: 5px;
  transition: opacity 0.2s;
  box-shadow: 0 0 6px black;
  cursor: pointer;
}

.search-button:hover,
.create-button:hover,
.home-button:hover {
  opacity: 0.8;
}

.search-button:active,
.create-button:active,
.home-button:active {
  opacity: 0.6;
}