@keyframes cycleColorsShadow {
  0% {box-shadow: 0 0 10px lightblue;}
  20% {box-shadow: 0 0 10px lightcoral;}
  40% {box-shadow: 0 0 10px lightgreen;}
  60% {box-shadow: 0 0 10px lightsalmon;}
  80% {box-shadow: 0 0 10px lightyellow;}
  100% {box-shadow: 0 0 10px lightsteelblue;}
}

.navigator-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(79, 79, 79);
  text-align: center;
  z-index: 300;
  padding-bottom: 60px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-top: solid;
  border-right: solid;
  border-left: solid;
  border-color: white;
  border-width: 0.5px;
  height: 70px;
}

.create-button {
  border: none;
  background-color: rgb(120, 79, 208);
  cursor: pointer;
  transition: 0.2s;
  padding: 12px 20px;
  color: lightgray;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  animation: cycleColorsShadow 2s linear infinite;
  animation-play-state: running;
  transition: opacity 0.2s,
    box-shadow 0.2s,
    animation 0.2s;
}

.create-button:hover {
  opacity: 0.8;
  animation-play-state: paused;
}

.create-button:active {
  opacity: 0.6;
}

.home-button {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border-radius: 10px;
  background-color: transparent;
  transition: background-color 0.2s;
  margin-top: 5px;
  transition: opacity 0.2s;
}

.home-button:hover {
  opacity: 0.8;
}

.home-button:active {
  opacity: 0.6;
}