body {
  background-color: rgb(27, 27, 27);
  font-family: arial; 
}

.logo-container {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  padding-top: 0;
}

@keyframes cycleColorsShadow {
  0% {box-shadow: 0 0 10px lightblue;}
  20% {box-shadow: 0 0 10px lightcoral;}
  40% {box-shadow: 0 0 10px lightgreen;}
  60% {box-shadow: 0 0 10px lightsalmon;}
  80% {box-shadow: 0 0 10px lightyellow;}
  100% {box-shadow: 0 0 10px lightsteelblue;}
}

.logo-button {
  border: none;
  background-color: rgb(120, 79, 208);
  cursor: pointer;
  transition: 0.2s;
  padding: 20px;
  color: lightgray;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  animation: cycleColorsShadow 2s linear infinite;
  transition: opacity 0.2s,
    box-shadow 0.2s;
}

.logo-button:hover {
  opacity: 0.8;
  animation: none;
  box-shadow: 0 0 10px white;
}

.logo-button:active {
  opacity: 0.6;
}